<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arepas</title>
</head>
<body>
    <h1>Nuevo Pedido</h1>
    <form action="/crear_pedido" method="post">
        <label for="nombre">Nombre Cliente: </label>
        <input type="text" name="nombre" id="nombre">
        {% with mensajes = get_flashed_messages(category_filter=["nombre"]) %}
            {% if mensajes %}
             <p>{{ mensajes[0] }}</p>
            {% endif %}
        {% endwith %}
        <br>
        <label for="cantidad">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad">
        {% with mensajes = get_flashed_messages(category_filter=["cantidad"]) %}
            {% if mensajes %}
             <p>{{ mensajes[0] }}</p>
            {% endif %}
        {% endwith %}
        <br>
        <label for="relleno">Relleno</label>
        <input type="text" name='relleno' id='relleno'>
        {% with mensajes = get_flashed_messages(category_filter=["relleno"]) %}
            {% if mensajes %}
             <p>{{ mensajes[0] }}</p>
            {% endif %}
        {% endwith %}
        <br>
        <button type="submit">Crear Pedido</button>
    </form>
        {% with mensajes = get_flashed_messages(category_filter=["exito"]) %}
            {% if mensajes %}
             <p>{{ mensajes[0] }}</p>
            {% endif %}
        {% endwith %}
    <a href="{{url_for('pagPedidos')}}">Ver pedidos</a>
</body>
</html>